* {
    box-sizing: border-box;
}
[class*="square"] {
    width: 100px;
    height: 100px;
    background-color: beige;
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    display: flex;
}
.cirlce {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    margin: 3px;
}
body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: gray;
}
.first-square {
    justify-content: center;
    align-items: center;
}
.second-square {
    justify-content: space-between;
}
.third-square {
    justify-content: space-between;
}
.fourth-squar,
.sixth-square{
    justify-content: space-between;
}
.second-square .cirlce:last-child, 
.third-square .cirlce:last-child {
    align-self: flex-end;
}
.third-square .cirlce:nth-child(2) {
    align-self: center;
}
.fourth-squar .col, 
.fifth-square .col,
.sixth-square .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


